extends layout
block content
	link(rel='stylesheet', href='/stylesheets/chatroom.css')
	.row-fluid
		.datas(style="display:none")
			#userId #{userId}
			#userName #{userName}
			#chatroomid #{chatroomid}
		.userlist
			.title My name:
			a.creater.item #{userName}
			.title 在线用户
		.chat
			.messagebox
			.sendbox
				textarea(rows="6").sendtext
				a(href="#").btn.sendbtn send
	script(src="/javascripts/jquery.js")
	script(src="/javascripts/socket.io.js")
	script(src="/javascripts/chatroom.js")