extends layout

block content
	link(rel='stylesheet', href='/stylesheets/style.css')
	form.form-signin
		h3.form-signin-heading 免费创建聊天室
		br
		br
		input
		br
		br
		a(id="CreateIt",href="#").btn-primary.btn.btn-large.createbtn Create

	script(src="/javascripts/jquery.js")
	script
		(function(){
			var form = document.querySelector(".form-signin"),
				item = form.querySelectorAll(".choose"),
				create = document.getElementById("CreateIt");

			form.addEventListener("click",function(event){
				var el = event.target;
				if(el.className.indexOf("choose") > -1){
					item[0].classList.remove("selected");
					item[1].classList.remove("selected");
					el.classList.add("selected");
					event.preventDefault();
				}
			});

			create.addEventListener("click",function(event){
				$.post("/createchatroom", {type: $(".selected").attr("data-type")},function(data){
					window.location= "/room/"+data.id;
				})
				return false;
			});

		})();
	
