doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    meta(name='description',content='创建聊天室,免费聊天室,聊天室,创建免费聊天室')
    link(rel='shortcut icon', href='/images/favicon.ico',type="image/x-icon")
  body
    block content
