extends layout

block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    -   if (errorMessage)
        script
            alert("#{errorMessage}");
    form(method="post",action="/user").form-signin
        h2.form-signin-heading #{type}
        input(type="text",placeholder="用户名",name="username").input-block-level
        input(type="password",placeholder="密码",name="password").input-block-level
        input(type="hidden",value=type,name="rtype")
        -   if (type=="注册")
            input(type="password",placeholder="确认密码",name="repassword").input-block-level
            button(type='submit').btn-primary.btn.btn-large 提交
        -   if (type=="登录")
            label.checkbox remember-me
                input(type="checkbox",value="remember me")
            button(type='submit').btn-primary.btn.btn-large 提交
        