doctype 5
html
    head
        title= title
        meta(charset="utf8")
        meta(name='description',content='创建聊天室,免费聊天室,聊天室,创建免费聊天室')
        meta(name="viewport",content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        meta(name="apple-mobile-web-app-capable",content="no")
        meta(name="format-detection",content="telephone=no")
        meta(name="apple-mobile-web-app-status-bar-style",content="white")
        link(rel='shortcut icon', href='/images/favicon.ico',type="image/x-icon")
        link(rel='stylesheet', href='/stylesheets/mobile.css')
        script(src="/javascripts/jquery.js")
        script(src="/javascripts/webapp/manager.js")
    body
        ul
            li.item
                input(type="text",id="link",value="http://hax.iteye.com/rss")
                a(id="addrss",href="#") 添加源
            -   items.forEach(function(item){
                    li.item 
                        a(href="/rss?link=#{item.link}")
                            h3 #{item.title}
                            p #{item.description}
            -   })


    
