doctype 5
html(manifest="/cache.mobile.manifest")
    head
        title= title
        meta(charset="utf8")
        meta(name='description',content='创建聊天室,免费聊天室,聊天室,创建免费聊天室')
        meta(name="viewport",content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        meta(name="apple-mobile-web-app-capable",content="yes")
        meta(name="format-detection",content="telephone=no")
        meta(name="apple-mobile-web-app-status-bar-style",content="white")
        meta(name="viewport",content="initial-scale=1.0,user-scalable=no,maximum-scale=1")
        link(rel="apple-touch-startup-image",href="/images/1.png")
        link(rel='shortcut icon', href='/images/favicon.ico',type="image/x-icon")
        link(rel='stylesheet', href='/stylesheets/mobile.css')
    body
        ul.list
            li 当前源 #{link}
        .article
            h3
            section        
        script(src="/javascripts/jquery.js")
        script(src="/javascripts/webapp/list.js")








