extends layout

block content
    link(rel='stylesheet', href='/stylesheets/room.css')
    section.leftbar
        section.rooms
            header
            -   user.rooms.forEach(function(item){
                .group(data-id=item.id)= item.name
            - })
        input(type="hidden",value=user.id,id="userid")
    section.feed
        section.topic Topic
        section.feeds.tmpl
        section.sendbox
            textarea.box
            div.bar
                i.icon-picture
            a(href="#").sendbtn send
    section.members.tmpl
        header 在线成员
        a(href="#").member.self #{user.username}
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/room.js")
    script(src="/javascripts/handlebars.js")
    script(src="/javascripts/socket.js")