body,ul,li,textarea{
	padding: 0 0;
	margin: 0 0;
}
ul{list-style: none;}

.row-fluid{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.userlist{
	padding: 0 0;
	width: 15%;
	background-color: whiteSmoke;
	overflow-y: scroll;
	overflow-x:hidden;
	height: 100%;
}
.userlist, .chat{
	border: 0 none;
	float: left;
	height: 100%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}
.userlist .title{
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	font-weight: bold;
	color: #999;
	text-transform:uppercase;
	padding: 8px 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.userlist .item{
	display: block;
	color: #08C;
	background-color: #DFF0D8;
	border: 1px solid #D6E9C6;
	height: 28px;
	line-height: 28px;
	margin: 2px 15px;
	padding-left: 20px;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
}
.userlist .itemeditor{
	background-color: #DFF0D8;
	border: 1px solid #D6E9C6;
	height: 24px;
	line-height: 24px;
	margin: 2px 15px;
	padding-left: 20px;
	border-radius: 3px;
	width: 133px;
}

.userlist .creater{
	background-color: #5BB75B;
	color: white;
}
.userlist .item:hover{
	background-color: #08C;
	color:white;
	text-decoration: none;
}
.userlist .offline{
	color: #999;
	background-color: #FFF;
	border: 1px solid #DDD;
}

.row-fluid .chat{
	margin-left: 0px;
	width: 85%;
}
.chat .messagebox{
	position: absolute;
	left: 15%;
	bottom: 73px;
	right: 0;
	top: 0;
	padding: 3px 3px;
	border-left: 1px solid #CCC;
	overflow-y: scroll;
}
.chat .messagebox .message{
	border: 1px solid #CCC;
	border-radius: 3px;
	margin-top: 2px;
}
.chat .messagebox .header{
	background: whiteSmoke;
	padding: 2px 20px;
	font-size: 12px;
}
.chat .messagebox .content{
	padding: 5px 20px;
	color: #666;
}
.chat .messagebox .time{
	margin-left: 10px;
	color:#CCC;
}

.chat .sendtype{
	position: absolute;
	bottom: 40px;
	left: 15%;
	padding-left: 7px;
	display: none;
}

.chat .sendbox{
	height: 40px;
	background-color: #FFF;
	position: absolute;
	bottom: 0;
	left: 15%;
	right: 0;
}
.chat .sendbox .sendtext{
	position: absolute;
	left:5px;
	bottom: 2px;
	padding-left: 7px;
	width: 80%;
	height: 40px;
}
.chat .sendbtn{
	position: absolute;
	right: 3px;
	bottom:2px;
	height: 20px;
	width: 18%;
	font-size: 20px;
	font-weight: bold;
	padding:10px 0;
}
.roominfo{
	width: 200px;
	height: 100px;
	background: #e8e8e8;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 3px;

}











