body{
    margin: 0;
    padding: 0; 
    border: 0;
    font-family:Arial,  sans-serif;
    line-height:1.5;
    font-size:16px;
    background: #fff;
    color: #000;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
}
ul,li{list-style: none;margin: 0;padding: 0;}

li{
    padding: 5px 20px;
}
li a{
    display: block;
    font-size: 12px;
    color:#333;
    text-decoration: none;
}
li a:hover,li a:visited{
    color:#333;
    text-decoration: none;
}

li a h3, li p{
    margin: 0;

}

ul.list h3{
    margin: 0;
    font-size: 14px;
}

ul.list li{
    border-bottom:1px solid #EEE; 
}

ul.list li a{
    display: inline;
}

ul.list section,ul.list li section *{
    font-size: 12px !important;
    border: 0 none !important;
}

.article{
    display: none;
    padding: 10px 5px;
}

.item{
    height: 40px;
    border-bottom: 1px solid #CCC;     
}
pre,code{
    font-size: 12px;
    color:rgb(68,84,43);
}
img{
    max-width: 310px;
}
ol{
    list-style: none;
    padding: 0;
}