body{padding: 0;}
body>section{
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.leftbar{
    width: 200px;
}

.rooms{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 200px;
    background-color: rgb(48,56,74);
}

a:hover, a:visited, a:link{
    text-decoration: none;
}

.rooms .group{
    display: block;
    width: 144px;
    background-color: rgb(48,56,74);
    border-top: 1px solid rgb(64,71,88); 
    border-bottom: 1px solid rgb(35,42,56);
    color: rgb(241,241,241);
    padding: 9px 28px;
    cursor:pointer;
}

.rooms .group{
    background: url(../images/group-icon.png) no-repeat;
    background-position: 4px center;
}

.rooms .selected{
    background: url(../images/group-selected.jpg) no-repeat;
    background-color: rgb(35,42,56);
    background-position: 4px center;
}

.rooms .group:hover{
    /*background-color: rgb(44,54,64);*/
    border-top: 1px solid rgb(44,54,64);
}

.user{
    position: absolute;
    display: block;
    bottom: 0;
    width: 200px;
    left: 0;
    padding: 9px 28px;
    color:#FFF;
    cursor: pointer;
    background: url(../images/uparrow-icon.png) no-repeat; 
    background-position: 160px center;
    background-color:rgb(61,68,87); 
    border-top: 1px solid rgb(79,86,106);
}


.feed{
    right: 200px;
    left: 200px;
    min-width: 810px;
}

section.topic{
    padding: 9px 28px; 
    background-color: rgb(229,229,229);
    background:-webkit-gradient(linear,0 0,0 100%,color-stop(0,rgb(239,239,239)),color-stop(1,rgb(224,224,224)));
}

section.feeds{
    width: 100%;
    position: absolute;
    bottom: 52px;
    top: 37px;
    overflow-y:scroll; 
    padding-bottom: 10px;
}

section.feeds::-webkit-scrollbar-track {
    background: #e7e7e7;
}

section.feeds::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #999;
}
section.feeds::-webkit-scrollbar {
    width: 8px;
}

section.feeds .chatitem{
    padding-left: 44px;
    margin-top: 10px;
    overflow: hidden;
}



section.feeds .chatitem img{
    float: left;
    margin-left: -34px;
    border: 1px solid rgb(220,220,220);
    width:23px;
    height: 23px;
}

section.feeds .chatitem.myself img{
    float: right;
    margin-right: 10px;
}

section.feeds .chatitem.myself section.feeditem{
    margin-right: 44px;
    float: right;
}

section.feeds section.feeditem{
    font-size: 12px;
    background-color: rgb(210,228,240);
    min-width: 80px;
    padding: 6px 9px 0 9px;
    border-radius: 3px;
    border: 1px solid rgb(176,196,219);
    box-shadow: 1px 1px 1px rgb(225,225,225);
    display: inline-block;
}
section.feeds section.feeditem .name{
    color: rgb(87,140,199);
    cursor: pointer;
    width: 100px;
}
section.feeds section.feeditem p{
    margin: 0;
}
section.feeditem .content{
    padding-bottom: 7px;
    margin-top: 3px;
    color: #000;
    display: inline-block;
}


section.sendbox{
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%;
    border-top: 1px solid rgb(175,175,175);
    background-color: rgb(222,222,222);
}

section.sendbox .box{
    border: 1px solid rgb(152,152,152);
    height: 33px;
    float: left;
    padding: 4px 2px;
    margin:7px 0 8px 5px;
    border-radius: 0;
    width: 73%;
}

section.sendbox .bar{
    height: 21px;
    float: left;
    margin-top: 7px;
    padding: 10px 10px;
    border: 1px solid rgb(152,152,152);
    border-left: none;
    cursor: pointer;
    background:-webkit-gradient(linear,0 0,0 100%,color-stop(0,rgb(252,252,252)),color-stop(1,rgb(210,210,210)));
}

section.sendbox .sendbtn{
    display: block;
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    background:-webkit-gradient(linear,0 0,0 100%,color-stop(0,rgb(252,252,252)),color-stop(1,rgb(210,210,210)));
    padding: 10px 0;
    border: 1px solid rgb(152,152,152);
    color: rgb(102,102,102);
    width: 19%;
    text-align: center;
}

section.members{
    position: absolute;
    right: 0;
    width: 200px;
    border-left: 1px solid rgb(169,169,169);
    background-color: #EEE;
}

section.members .member{
    display: block;
    padding: 5px 0 5px 36px;
    color: #333;
    /*background: url(../images/online.jpg) no-repeat;*/
    background-position: 10px 5px;
    margin: 9px 20px 0 20px;
    border-radius: 3px;
    width:124px; 
    background: url(../images/header.jpg) no-repeat;
    background-color: #EEF;
    background-size: 23px 23px;
    background-position: 5px 5px;
    border:1px solid #EFF;
}

section.members .self{
    background-color: #CEF;
    border:1px solid #FFF;
}

section.members .self input{
    width: 112px;
}

section.members header{
    padding: 9px 28px;
    background-color: #999;
}

section.members .member:hover{
    color: #333;
    border:1px solid rgb(169,169,169);
}



