.form-signin {
	width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: white;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	height: 230px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin:-145px 0 0 -160px;
    text-align: center;
}

.form-signin h3{
	text-align: center;
}
.form-signin .choose{
	width: 80px;
	height: 80px;
	margin-left: 28px;
	border: 2px solid #CCC;
	/*border: 1px solid #BBB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
	display: inline-block;
	margin-left: 30px;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	background-color: whiteSmoke;
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	text-indent: -9999px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);*/
}
.form-signin .choose:hover, .form-signin .selected{
	border: 2px solid #333;
}
.form-signin .private{
}
.form-signin .public{
}
.form-signin .createbtn{
}
